# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Generated outputs & temp files
output/*
!output/.gitkeep
input/*
!input/.gitkeep

# Environment variables & virtual environments
.env
.venv/
venv/
ENV/

# IDE files
.vscode/
.idea/
